#botonEmpezarJuego{
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  position: absolute;
  top: 70%;
  left: 50%;
  width: 500;
  height: 200;
  background: rgba(0,0,0,0.3);
  font-weight: bold; 
  text-align: center; 
  line-height: 30px; 
  color: #fff; 
  font-family: monospace; 
  font-size: 40px;
}
#botonReiniciarJuego{
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  position: absolute;
  top: 70%;
  left: 50%;
  width: 500;
  height: 200;
  background: rgba(0,0,0,0.3);
  font-weight: bold; 
  text-align: center; 
  line-height: 30px; 
  color: #fff; 
  font-family: monospace; 
  font-size: 40px;
}
#botonInstrucciones{
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  position: absolute;
  top: 93%;
  left: 50%;
  width: 400;
  height: 50;
  background: rgba(0,0,0,0.3);
  font-weight: bold; 
  text-align: center; 
  line-height: 30px; 
  color: #fff; 
  font-family: monospace; 
  font-size: 40px;
}
#cerrar{
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  position: absolute;
  top: 93%;
  left: 50%;
  width: 400;
  height: 50;
  background: rgba(0,0,0,0.3);
  font-weight: bold; 
  text-align: center; 
  line-height: 30px; 
  color: #fff; 
  font-family: monospace; 
  font-size: 40px;
}
#imagenesInstrucciones{
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  
}